<html lang="en">
  <head>
    {{>headlinks}}
  </head>
  <body>
    <!-- ################################################## SECTION STARTS ############################################# -->
    <section class="container-fluid main_section mt-5">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">

            <!--- -->
            <div class="col-md-12 main_section_left align-items-center ">
              <figure>
                <img
                  src="./img/404page.png"
                  class="img-fluid errorImg"
                  alt=""
                />
              </figure>
              <p>Welcome to Error World</p>
              <h2 class="text-capitalize">
                Opps! Page Not Found
              </h2>
              <a href="/"><button class="text-uppercase myBtn mt-3">go back</button></a>

            </div>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>